<!DOCTYPE html>
<html>
<head>
  <title>ManybotsWeather</title>
  <%= stylesheet_link_tag    "manybots-weather/application", :media => "all" %>
  <%= javascript_include_tag "manybots-weather/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
